# Список доменов для CSP frame-ancestors (встраивание iframe чата).
# Используется в hestia-zz-agent-webui.conf.example (две директивы add_header).
# При добавлении сайта: допишите https://новый-домен.ru и https://www.новый-домен.ru
# Затем: cp nginx/hestia-zz-agent-webui.conf.example /etc/nginx/conf.d/zz-agent-webui.conf && nginx -t && systemctl reload nginx
#
# Текущие разрешённые родительские сайты:
#   ons.remont-gazon.ru
#   remont-gazon.ru, www.remont-gazon.ru
#   gortruck.ru, www.gortruck.ru
#   service-ref.ru, www.service-ref.ru
#   refmontaj.ru, www.refmontaj.ru

frame-ancestors 'self' https://ons.remont-gazon.ru https://remont-gazon.ru https://www.remont-gazon.ru https://gortruck.ru https://www.gortruck.ru https://service-ref.ru https://www.service-ref.ru https://refmontaj.ru https://www.refmontaj.ru
